/* Styling unique to the contact form */
form {
    margin-bottom: 20px;
}

input {
    height: 14px;
}

input::placeholder {
    font-size: 12px;
    color: rgba(161, 161, 161, 0.705);
}

textarea::placeholder {
    font-size: 12px;
    color: rgba(161, 161, 161, 0.705);
}

.form-paragraph {
    margin: 0;
    margin-bottom: -15px;
}

#name, #email {
    width: 500px;
}

#message {
    width: 500px;
    height: 200px;
}

.button {
    color: white;
    background-color: #4aaaa5;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
}

.button:hover {
    cursor: pointer;
    background-color: #50B7B1;
}

.button a {
    color: white;
}
