section {
    /* display: flex; */
}

.portfolio-content {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}

.portfolio-images-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding: 0 2%;
}

.portfolio-images-col > .image-block {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  justify-content: center;
  align-items: center;
}

.image-block img {
  width: 100%;
  position: relative;
}


.image-header {
  position: absolute;
  margin: 0;
  background-color: #4aaaa5;
}
